:root {
    --background: #1B1B1B;
    --block-bg: #161616;
    --text-color: #C9C9C9;
    --hover-color: #00BAFF;
    --button-bg: #063A20;
}

a {
    color: green;
    text-decoration: none;
}

/* Removing any styling on button tags for better use. */
button, input[type="submit"], input[type="reset"] {
	background: var(--button-bg);
	color: var(--text-color);
    border-radius: 2px;
    padding: .5vh .5vw .5vh .5vw;
	border: none;
	font: inherit;
    font-size: 1.4vmin;
	cursor: pointer;
	outline: inherit;
}

body {
    margin: 0;
    padding: 0;
    background: var(--background);
    color: var(--text-color);
    font-family: Roboto, Helvetica, Arial, Verdana;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

/* Header */

header {
    background: var(--block-bg);
    height: 5vh;
    width: 100vw;
    font-size: 1.5vmin;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
}

header img {
    height: 100%;
    margin-left: 1vw;
}

#header-title {
    margin-right: auto;
    margin-left: -0.75%;
}

header :last-child {
    margin-right: 0.3vw;
}

header a[selected] {
    color: var(--hover-color);
    border-bottom: 2px solid;
}

header a:hover {
    border-bottom: 2px solid;
}

header a {
    text-decoration: none;
    color: var(--text-color);
}

/* Footer */

footer {
    background: var(--block-bg);
    height: 5vh;
    width: 100vw;
    font-size: 1.5vmin;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
    margin-top: auto;
}

#footer-copyright {
    margin-right: auto;
    margin-left: 1vw;
}

#credit {
    margin-right: 1vw;
}

#credit > a {
    margin-left: .1vw;
    margin-right: .1vw;
}

#credit > a:last-of-type {
    margin-right: 0vw;
}

#repo-link {
    text-decoration: underline;
    color: green;
}

.welcome {
    margin-top: 10vh;
    font-size: 2.5vmin;
}

/* Cards */

#cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    width: 95vw;
    height: 40vh;
    margin-top: 7vh;
    gap: 3vw;
    margin-right: 10%;
    margin-left: 10%;
    position: relative;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.card .card, .styled-card {
    margin-top: 2vh;
    padding: 2vh 2vw 2vh 2vw;
    background-color: var(--block-bg);
    border-radius: 10px;
}

.card .title {
    font-size: 2.5vmin;
    margin-bottom: 2vh;
    text-align: center;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #222;
    border-radius: 50vw;
}
