/* Sections */

#announcements-all {
    width: 30%;
}

#introduction-slides {
    width: 30%;
}

#calendar {
    width: 30%;
}

/* Announcements */

#announcements {
    position: absolute;
    max-height: 60vh;
    width: 30%;
    align-content: center;
    overflow-y: scroll;
    display: flexbox;
    padding: 0vh .5vw 2vh 2.5vw;
    margin-top: 5vh;
}

.announcement-title {
    font-size: 2.5vmin;
    overflow-x: hidden;
    margin-bottom: .2vh;
}

.announcement-date {
    color: darkslategray;
    margin-bottom: 1vh;
}

.announcement .body img {
    max-width: 10vw;
    max-height: 10vh;
}

.announcement {
    width: auto;
    align-items: left;
    text-align: left;
    max-width: inherit;
    margin-bottom: 2vh;
    padding: 2vh 2vw 2vh 2vw;
    background-color: var(--block-bg);
}

.announcement:last-of-type {
    margin-bottom: 0vh;
}