/* Sections */

#announcements-all {
    width: auto;
    align-content: center;
    display: flexbox;
}

#introduction-slides {
    width: 30%;
}

#calendar {
    width: 30%;
}

/* Announcements */

#announcements {
    max-height: 90vh;
}

.announcement-title {
    font-size: 2.5vmin;
}

.announcement-text {
    text-align: left;
}

.announcement .body img {
    padding: 3vh;
    max-width: 10vw;
    max-height: 10vh;
}

.announcement {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    max-width: inherit;
    max-height: 30vh;
    margin-top: 2vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 2vw;
    padding-right: 2vw;
    background-color: var(--block-bg);
}