#cards-row {
    font-size: 2.5vmin;
    display: flex;
    flex-direction: column;
}

#discord, #google-drive {
    justify-content: center;
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
}

.body {
    max-width: 40%;
}

button {
    margin: 5vh 5vw 2vh 0vw;
    height: min-content;
    scale: 160%;
}

a {
    color: var(--text-color);
}
