.presentation {
    margin-top: 2vh;
    max-width: 24%;
    padding: 2vh 2vw 2vh 2vw;
    background-color: var(--block-bg);
    border-radius: 10px;
}

.presentation-title {
    font-size: 2vmin;
    font-weight: 700;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.tag {
    color: darkslategray;
}

#presentations {
    display: flex;
    flex-direction: column;
    padding-right: 5vw;
    padding-left: 5vw;
    margin-top: 3vh;
    max-width: 80vw;
    max-height: 65vh;
    overflow-y: scroll;
    align-content: left;
}

.slide-container {
    display: flex;
    flex-direction: row;
}

.slide-container > .presentation {
    margin-right: 3vw;
}

.slide-container > .presentation:last-of-type {
    margin-right: 0vw;
}