#content-row {
    display: flex;
    flex-direction: row;
}

/* Presentations Loader */

.presentation {
    margin-bottom: 2vh;
    /* There has to be a fixed width and height to
    each presentation due to using an embed */
    width: 340px;
    max-width: 340px;
    height: 280px;
    max-height: 280px;
    padding: 2vh 2vw 2vh 2vw;
    background-color: var(--block-bg);
    border-radius: 10px;
}

.presentation-title {
    font-size: 2vmin;
    font-weight: 700;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.tag {
    color: darkslategray;
}

#presentations {
    display: flex;
    flex-direction: column;
    /* padding-right: 2vw; */
    /* padding-left: 5vw; */
    margin-top: 3vh;
    max-width: 74vw;
    width: 74vw;
    margin-left: 4vw;
    max-height: 65vh;
    overflow-y: scroll;
    /* align-content: left; */
}

.slide-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.slide-container > .presentation {
    margin-right: 3vw;
}

.slide-container > .presentation:last-of-type {
    margin-right: 0vw;
}

/* Search Container */

#search-title {
    font-size: 2.5vmin;
    margin-bottom: 1vh;
}

label {
    font-size: 1.5vmin;
    color: darkslategray;
}

#tag-sep {
    margin-bottom: .5vh;
}

#tag-title {
    font-size: 1.8vmin;
    font-weight: 700;
    margin-bottom: 1vh;
}

#presentation-search-tags {
    margin-bottom: 9vh;
    max-height: 88%;
    overflow-y: scroll;
}

#presentation-name-searchbar {
    margin-bottom: 1vh;
}

#search-bottom {
    position: absolute;
    bottom: 2vh;
}

#search {
    padding: 1vh 1vw 1vh 1vw;
    max-width: 10vw;
    height: 63vh;
    width: 10vw;
    align-items: flex-start;
    position: fixed;
    left: 0;
    margin-left: 1vw;
    margin-top: 21vh;
}
